flows.json
[{"id":"18b3d6c3.4f6889","type":"inject","z":"4e912514.5c6f4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":140,"y":180,"wires":[["cee4b07e.79ab5"]]},{"id":"cee4b07e.79ab5","type":"watson-conversation-v1","z":"4e912514.5c6f4c","name":"online store chatbot","workspaceid":"44c5384d-0a93-4cf6-9fe8-26e855a77dd6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0ccbca3e-14d5-4a1b-a91e-ba8703b8dd02","timeout":"","optout-learning":false,"x":370,"y":200,"wires":[["f2b0133.1502ef"]]},{"id":"f2b0133.1502ef","type":"function","z":"4e912514.5c6f4c","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":280,"wires":[["c039b662.237a98","43def453.3d949c"]]},{"id":"c039b662.237a98","type":"debug","z":"4e912514.5c6f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":220,"wires":[]},{"id":"43def453.3d949c","type":"ui_text","z":"4e912514.5c6f4c","group":"25f481e6.c1b44e","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":340,"wires":[]},{"id":"78ab4f30.77674","type":"ui_text","z":"4e912514.5c6f4c","group":"25f481e6.c1b44e","order":1,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":420,"wires":[]},{"id":"462d0f87.d60a","type":"function","z":"4e912514.5c6f4c","name":"Input parsing","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":340,"wires":[["cee4b07e.79ab5","78ab4f30.77674"]]},{"id":"dd8be51.a5aa118","type":"ui_form","z":"4e912514.5c6f4c","name":"","label":"","group":"25f481e6.c1b44e","order":0,"width":0,"height":0,"options":[{"label":"Enter your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":280,"wires":[["462d0f87.d60a"]]},{"id":"25f481e6.c1b44e","type":"ui_group","z":"","name":"chatbot","tab":"2ac581cc.c4154e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ac581cc.c4154e","type":"ui_tab","z":"","name":"Essential Product Store","icon":"dashboard","disabled":false,"hidden":false}]